@page
@model SacramentMeetingPlannerApp.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SacramentMeeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.MeetingDate" class="control-label"></label>
                <input asp-for="SacramentMeeting.MeetingDate" class="form-control" />
                <span asp-validation-for="SacramentMeeting.MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.ConductingLeader" class="control-label"></label>
                <input asp-for="SacramentMeeting.ConductingLeader" class="form-control" />
                <span asp-validation-for="SacramentMeeting.ConductingLeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.OpeningHymn" class="control-label"></label>
                <input asp-for="SacramentMeeting.OpeningHymn" class="form-control" />
                <span asp-validation-for="SacramentMeeting.OpeningHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.SacramentHymn" class="control-label"></label>
                <input asp-for="SacramentMeeting.SacramentHymn" class="form-control" />
                <span asp-validation-for="SacramentMeeting.SacramentHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.ClosingHymn" class="control-label"></label>
                <input asp-for="SacramentMeeting.ClosingHymn" class="form-control" />
                <span asp-validation-for="SacramentMeeting.ClosingHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.IntermediateHymn" class="control-label"></label>
                <input asp-for="SacramentMeeting.IntermediateHymn" class="form-control" />
                <span asp-validation-for="SacramentMeeting.IntermediateHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.OpeningPrayer" class="control-label"></label>
                <input asp-for="SacramentMeeting.OpeningPrayer" class="form-control" />
                <span asp-validation-for="SacramentMeeting.OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.ClosingPrayer" class="control-label"></label>
                <input asp-for="SacramentMeeting.ClosingPrayer" class="form-control" />
                <span asp-validation-for="SacramentMeeting.ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentMeeting.SpeakerSubjects" class="control-label"></label>
                <input asp-for="SacramentMeeting.SpeakerSubjects" class="form-control" />
                <span asp-validation-for="SacramentMeeting.SpeakerSubjects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
